# Python Virtual Environment Directory
*_VirEnv/

# Compiled Python Files
*.pyc

# Editable Python package directory
*.egg-info/

# Jupyter notebook checkpoints
*.ipynb_checkpoints/

# Pytest files
.coverage
cov.xml

# Build Files
build/
dist/

# Temporary Office files when file is open
*~$*

# MacOS Files
.DS_Store

# Local Data Files
data/**
!.gitkeep
